@font-face {
	font-family: Pe-icon-7-stroke;
	src: url(../../fonts/Pe-Icon-Stroke/Pe-icon-7-stroke.eot?d7yf1v);
	src: url(../../fonts/Pe-Icon-Stroke/Pe-icon-7-stroke.eot?#iefixd7yf1v) format('embedded-opentype'), url(../../fonts/Pe-Icon-Stroke/Pe-icon-7-stroke.woff?d7yf1v) format('woff'), url(../../fonts/Pe-Icon-Stroke/Pe-icon-7-stroke.ttf?d7yf1v) format('truetype'), url(../../fonts/Pe-Icon-Stroke/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

[class*=" pe-7s-"],
[class^=pe-7s-] {
	display: inline-block;
	font-family: Pe-icon-7-stroke;
	speak: none;
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.pe-7s-back-2:before {
	content: "\e6ac"
}

.pe-7s-id:before {
	content: "\e68f"
}

.pe-7s-world:before {
	content: "\e691"
}

.pe-7s-user:before {
	content: "\e605"
}

.pe-7s-target:before {
	content: "\e60d"
}

.pe-7s-share:before {
	content: "\e616"
}

.pe-7s-add-user:before {
	content: "\e6a9"
}

.pe-7s-note2:before {
	content: "\e69d"
}

.pe-7s-power:before {
	content: "\e621"
}

.pe-7s-portfolio:before {
	content: "\e622"
}

.pe-7s-like2:before {
	content: "\e6a1"
}

.pe-7s-plus:before {
	content: "\e623"
}

.pe-7s-note:before {
	content: "\e62c"
}

.pe-7s-music:before {
	content: "\e630"
}

.pe-7s-more:before {
	content: "\e632"
}

.pe-7s-menu:before {
	content: "\e636"
}

.pe-7s-look:before {
	content: "\e63e"
}

.pe-7s-link:before {
	content: "\e641"
}

.pe-7s-like:before {
	content: "\e642"
}

.pe-7s-info:before {
	content: "\e647"
}

.pe-7s-home:before {
	content: "\e648"
}

.pe-7s-help2:before {
	content: "\e649"
}

.pe-7s-help1:before {
	content: "\e64a"
}

.pe-7s-graph3:before {
	content: "\e64b"
}

.pe-7s-graph2:before {
	content: "\e64c"
}

.pe-7s-graph1:before {
	content: "\e64d"
}

.pe-7s-graph:before {
	content: "\e64e"
}

.pe-7s-filter:before {
	content: "\e655"
}

.pe-7s-file:before {
	content: "\e656"
}

.pe-7s-download:before {
	content: "\e65c"
}

.pe-7s-date:before {
	content: "\e660"
}

.pe-7s-back:before {
	content: "\e67a"
}