.navbar-transparent .navbar-brand,
[class*=navbar-ct] .navbar-brand {
    color: #fff;
    opacity: 1
}

.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-brand:hover,
[class*=navbar-ct] .navbar-brand:focus,
[class*=navbar-ct] .navbar-brand:hover {
    background-color: transparent;
    opacity: 1;
    color: #fff
}

.navbar-transparent .navbar-nav>li>a:not(.btn),
[class*=navbar-ct] .navbar-nav>li>a:not(.btn) {
    color: #fff;
    border-color: #fff;
    opacity: .85
}

.navbar-transparent .navbar-nav>.active>a:focus:not(.btn),
.navbar-transparent .navbar-nav>.active>a:hover:not(.btn),
.navbar-transparent .navbar-nav>.active>a:not(.btn),
.navbar-transparent .navbar-nav>li>a:focus:not(.btn),
.navbar-transparent .navbar-nav>li>a:hover:not(.btn),
[class*=navbar-ct] .navbar-nav>.active>a:focus:not(.btn),
[class*=navbar-ct] .navbar-nav>.active>a:hover:not(.btn),
[class*=navbar-ct] .navbar-nav>.active>a:not(.btn),
[class*=navbar-ct] .navbar-nav>li>a:focus:not(.btn),
[class*=navbar-ct] .navbar-nav>li>a:hover:not(.btn) {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    opacity: 1
}

.navbar-transparent .navbar-nav .nav>li>a.btn:hover,
[class*=navbar-ct] .navbar-nav .nav>li>a.btn:hover {
    background-color: transparent
}

.navbar-transparent .navbar-nav>.open>a,
.navbar-transparent .navbar-nav>.open>a:focus,
.navbar-transparent .navbar-nav>.open>a:hover,
[class*=navbar-ct] .navbar-nav>.open>a,
[class*=navbar-ct] .navbar-nav>.open>a:focus,
[class*=navbar-ct] .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #fff;
    opacity: 1
}

.navbar-transparent .btn-default,
[class*=navbar-ct] .btn-default {
    color: #fff;
    border-color: #fff
}

.navbar-transparent .btn-default.btn-fill,
[class*=navbar-ct] .btn-default.btn-fill {
    color: #777;
    background-color: #fff;
    opacity: 1
}

.navbar-transparent .btn-default.btn-fill.active,
.navbar-transparent .btn-default.btn-fill:active,
.navbar-transparent .btn-default.btn-fill:focus,
.navbar-transparent .btn-default.btn-fill:hover,
.navbar-transparent .open .dropdown-toggle.btn-fill.btn-default,
[class*=navbar-ct] .btn-default.btn-fill.active,
[class*=navbar-ct] .btn-default.btn-fill:active,
[class*=navbar-ct] .btn-default.btn-fill:focus,
[class*=navbar-ct] .btn-default.btn-fill:hover,
[class*=navbar-ct] .open .dropdown-toggle.btn-fill.btn-default {
    border-color: #fff;
    opacity: 1
}

.section-contact-3 {
    min-height: 570px
}

.section-header .separator {
    max-width: 20em
}


h1 {
    font-size: 2em;
    line-height: 1.25
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364
}

h4 {
    line-height: 1.11111111
}

.navbar-transparent {
    background-color: transparent
}

.section-we-made-1 p {
    display: none
}

.section-clients-2 .tab-content {
    min-height: 130px
}

.section-team-3 .name {
    margin-top: -10px
}

.btn {
    margin: 0 auto 15px;
    float: none
}

footer {
    padding-top: 15px
}

footer .row .info {
    margin-top: 15px
}

footer .row .info .title {
    text-align: center !important;
    margin-top: 25px
}

footer .row .info ul {
    text-align: center
}

footer .row div:first-child .title {
    margin-top: 0
}

.navbar-transparent .navbar-brand {
    color: #fff
}


.footer:not(.footer-big) nav>ul li:first-child {
    margin-left: 0
}

.nav-open .navbar-collapse {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.navbar-burger .container {
    padding: 0 15px
}

.navbar-burger .navbar-header {
    width: 100%
}

.navbar-burger .navbar-toggle {
    display: block;
    margin-right: 0
}

body>.navbar-collapse .navbar-nav,
body>.navbar-collapse .navbar-nav>li {
    float: none
}

body>.navbar-collapse .navbar-nav>li {
    float: none
}

.section-contact-us {
    min-height: 570px
}