.section-header {
    padding: 0 !important
}

.section-header .parallax {
    height: 80vh
}

.section-header .parallax:after {
    height: 80vh
}

.section-header .content {
    top: 50%
}

.section-header .content h1,
.section-header .content h5,
.section-header .content p {
    margin: 0
}

.section-header .content h1 {
    font-size: 4.5em;
    letter-spacing: .07em;
    line-height: 1.7
}

.section-header .content h1 span {
    font-size: 1em
}

.section-header .content h5 {
    font-size: 1.125em;
    margin-top: 50px
}

.section-header .content .separator {
    width: 12em
}

.section.section-we-are .description {
    max-width: 560px;
    text-align: center;
    margin: 0 auto
}

.section.section-info {
    height: auto
}