.navbar-transparent {
    padding-top: 0;
    background-color: rgba(0, 0, 0, .45)
}

#bodyClick {
    right: 230px
}

.navbar-collapse {
    position: fixed;
    display: block;
    top: 0;
    height: 100vh;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    border-left: 1px solid #e3e3e3;
    padding-right: 15px;
    padding-left: 15px;
    max-height: none !important;
    -webkit-transform: translate3d(230px, 0, 0);
    -moz-transform: translate3d(230px, 0, 0);
    -o-transform: translate3d(230px, 0, 0);
    -ms-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
    -webkit-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    -moz-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    -o-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    -ms-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    transition: all .5s cubic-bezier(.685, .0473, .346, 1)
}

.navbar-collapse ul {
    position: relative;
    z-index: 3;
    overflow-y: auto;
    height: 100%
}

.navbar-collapse .nav>li {
    border-bottom: 1px solid #e5e5e5;
    padding-right: 15px
}

.navbar-collapse .nav>li:last-child {
    border-bottom: 0
}

.navbar-collapse .nav>li>a {
    margin: 0 0;
    color: #434547;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    padding: 24px 0
}

.navbar-collapse .nav>li>a.active,
.navbar-collapse .nav>li>a:hover {
    color: #c5a47e
}

.navbar-collapse::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    display: block;
    content: "";
    z-index: 1
}

.navbar .container {
    left: 0
}

.nav-open .navbar-collapse {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.navbar-nav {
    margin: 0
}

.navbar-nav .dropdown .dropdown-menu>li>a {
    padding: 10px 15px 10px
}

.navbar-nav .dropdown .dropdown-menu>li:first-child>a {
    padding-top: 0
}

.navbar-nav .dropdown .dropdown-menu>li:last-child>a {
    padding-bottom: 20px
}

[class*=navbar-] .navbar-nav .navbar-nav .open .dropdown-menu>li>a:active,
[class*=navbar-] .navbar-nav>li>a,
[class*=navbar-] .navbar-nav>li>a:focus,
[class*=navbar-] .navbar-nav>li>a:hover {
    color: #fff
}

[class*=navbar-] .navbar-nav .active>a,
[class*=navbar-] .navbar-nav .dropdown .dropdown-menu>li>a {
    color: #434547
}

[class*=navbar-] .navbar-nav .open .dropdown-menu>li>a,
[class*=navbar-] .navbar-nav>li>a {
    opacity: .7;
    background: 0 0
}

[class*=navbar-] .navbar-nav .open .dropdown-menu>li>a:focus,
[class*=navbar-] .navbar-nav .open .dropdown-menu>li>a:hover,
[class*=navbar-] .navbar-nav>li>a:focus,
[class*=navbar-] .navbar-nav>li>a:hover {
    opacity: 1
}

[class*=navbar-] .navbar-nav.navbar-nav .open .dropdown-menu>li>a:active {
    opacity: 1
}

.dropdown-menu {
    display: none
}

.navbar-fixed-top {
    -webkit-backface-visibility: hidden
}

.social-line .btn {
    margin: 0 0 10px 0
}

.footer:not(.footer-big) nav>ul li {
    float: none
}

.navbar-toggle:focus,
.navbar-toggle:hover {
    background-color: transparent !important
}

.btn.dropdown-toggle {
    margin-bottom: 0
}

.nav-open .navbar .navbar-header {
    -webkit-transform: translate3d(-280px, 0, 0);
    -moz-transform: translate3d(-280px, 0, 0);
    -o-transform: translate3d(-280px, 0, 0);
    -ms-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0)
}