.section.section-our-team .title-description,
.section.section-we-do .title-description {
    max-width: 550px;
    margin: 0 auto
}

.section.section-we-do .text-description {
    max-width: 420px;
    margin: 0 auto
}