html {
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 100%
}

@media (min-width: 58em) {
    body {
        font-size: 100%
    }
}

@media (min-width: 115em) {
    body {
        font-size: 110%
    }
}

@media (min-width: 125em) {
    body {
        font-size: 115%
    }
}

@media (min-width: 145em) {
    body {
        font-size: 120%
    }
}

@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    body {
        font-feature-settings: normal
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Cambo, "Times New Roman", serif
}

.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-size: inherit;
    font-family: Cambo, "Times New Roman", serif
}

.h1, h1 {
    font-size: 3em;
    line-height: 1.213483146em;
    font-weight: 700
}

.h2, h2 {
    font-size: 2.4em;
    line-height: 1.25;
    margin: .4em 0;
    font-weight: 700
}

.h3, h3 {
    font-size: 1.61em;
    line-height: 1.05em;
    margin-top: 15px;
    margin-bottom: 15px
}

.h4, h4 {
    font-size: 1.3em;
    line-height: 1.714285714em
}

h5 {
    font-size: 1.2em
}

p {
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 400;
    margin: 0 0 .75em
}

.brand, .btn, .btn-simple, .navbar, .subtitle, .title h5, a, p, small {
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
    color: #777;
    opacity: .7;
    font-size: 14px
}

a:hover {
    color: #777;
    opacity: 1
}

.title {
    text-align: center;
    margin-bottom: 50px
}

.title p {
    color: #777
}

.title-modern {
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200
}

.text-gray {
    color: #777
}

.text-info {
    color: #00abc0 !important
}

.text-danger {
    color: #e78b90 !important
}

.separator {
    color: #c5a47e;
    margin: 0 auto 20px;
    max-width: 240px;
    text-align: center;
    position: relative
}

.separator:after, .separator:before {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 10px;
    border: 1px solid #c5a47e
}

.separator:before {
    float: left
}

.separator:after {
    float: right
}

.separator-danger {
    color: #e78b90
}

.separator-danger:after, .separator-danger:before {
    border-color: #e78b90
}

p.description {
    font-size: 16px;
    color: #777
}

a:focus, a:hover {
    text-decoration: none
}

a:active, a:focus, button::-moz-focus-inner {
    outline: 0
}

.navbar-toggle {
    outline: 0 !important
}

.navbar {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear
}

.filter, [data-toggle=collapse] i, body>.navbar-collapse a {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear
}

.fa {
    width: 18px;
    text-align: center
}

.info-icon {
    text-align: center
}

.info-icon .icon {
    font-size: 62px;
    line-height: 66px;
    color: #c5a47e;
    margin-bottom: 10px
}

.info-icon .description {
    margin-top: 15px;
    color: #777
}

.avatar {
    border: 3px solid #c5a47e;
    border-radius: 50%;
    overflow: hidden;
    max-width: 110px;
    margin: 0 auto
}

.avatar img {
    width: 100%;
    height: auto
}

.avatar-danger {
    border-color: #e78b90
}

::selection {
    background: #e78b90;
    color: #fff
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    100% {
        opacity: 0
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    100% {
        opacity: 0
    }
}

.btn-black i {
    position: absolute;
    top: 14px;
    right: .25em;
    opacity: 0
}

.btn-black:focus i, .btn-black:hover i {
    right: 26px;
    opacity: 1
}

.nav-text>li.active a, a {
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear
}

.btn, .btn-black i {
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    transition: all 150ms ease-out
}

.card .icon {
    font-size: 75px;
    line-height: 75px
}

.card .icon~h3 {
    margin-top: 5px;
    margin-bottom: 0
}

.btn, .navbar .navbar-nav>li>a.btn {
    border-width: 1px;
    background-color: transparent;
    font-weight: 600;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.6em;
    opacity: .8;
    padding: 10px 20px;
    border-color: #888;
    color: #888;
    text-transform: uppercase
}

.btn.active, .btn:active, .btn:focus, .btn:hover, .navbar .navbar-nav>li>a.btn.active, .navbar .navbar-nav>li>a.btn:active, .navbar .navbar-nav>li>a.btn:focus, .navbar .navbar-nav>li>a.btn:hover, .open>.btn.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle {
    background-color: transparent;
    color: #777;
    border-color: #777
}

.btn:disabled, .btn[disabled], .navbar .navbar-nav>li>a.btn:disabled, .navbar .navbar-nav>li>a.btn[disabled] {
    background-color: transparent;
    border-color: #888
}

.btn.btn-fill, .navbar .navbar-nav>li>a.btn.btn-fill {
    color: #fff;
    background-color: #888;
    opacity: 1
}

.btn.btn-fill.active, .btn.btn-fill:active, .btn.btn-fill:focus, .btn.btn-fill:hover, .navbar .navbar-nav>li>a.btn.btn-fill.active, .navbar .navbar-nav>li>a.btn.btn-fill:active, .navbar .navbar-nav>li>a.btn.btn-fill:focus, .navbar .navbar-nav>li>a.btn.btn-fill:hover, .open>.btn.btn-fill.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn.btn-fill.dropdown-toggle {
    background-color: #777;
    color: #fff
}

.btn:focus, .btn:hover, .navbar .navbar-nav>li>a.btn:focus, .navbar .navbar-nav>li>a.btn:hover {
    opacity: 1;
    outline: 0 !important
}

.btn.active, .btn:active, .navbar .navbar-nav>li>a.btn.active, .navbar .navbar-nav>li>a.btn:active, .open>.btn.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important
}

.btn.btn-icon, .navbar .navbar-nav>li>a.btn.btn-icon {
    padding: 10px
}

.btn-danger, .navbar .navbar-nav>li>a.btn-danger {
    border-color: #e78b90;
    color: #e78b90
}

.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .navbar .navbar-nav>li>a.btn-danger.active, .navbar .navbar-nav>li>a.btn-danger:active, .navbar .navbar-nav>li>a.btn-danger:focus, .navbar .navbar-nav>li>a.btn-danger:hover, .open>.btn-danger.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-danger.dropdown-toggle {
    background-color: transparent;
    color: #e47a80;
    border-color: #e47a80
}

.btn-danger:disabled, .btn-danger[disabled], .navbar .navbar-nav>li>a.btn-danger:disabled, .navbar .navbar-nav>li>a.btn-danger[disabled] {
    background-color: transparent;
    border-color: #e78b90
}

.btn-danger.btn-fill, .navbar .navbar-nav>li>a.btn-danger.btn-fill {
    color: #fff;
    background-color: #e78b90;
    opacity: 1
}

.btn-danger.btn-fill.active, .btn-danger.btn-fill:active, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:hover, .navbar .navbar-nav>li>a.btn-danger.btn-fill.active, .navbar .navbar-nav>li>a.btn-danger.btn-fill:active, .navbar .navbar-nav>li>a.btn-danger.btn-fill:focus, .navbar .navbar-nav>li>a.btn-danger.btn-fill:hover, .open>.btn-danger.btn-fill.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-danger.btn-fill.dropdown-toggle {
    background-color: #e47a80;
    color: #fff
}

.btn-black, .navbar .navbar-nav>li>a.btn-black {
    border-color: #333;
    color: #333
}

.btn-black.active, .btn-black:active, .btn-black:focus, .btn-black:hover, .navbar .navbar-nav>li>a.btn-black.active, .navbar .navbar-nav>li>a.btn-black:active, .navbar .navbar-nav>li>a.btn-black:focus, .navbar .navbar-nav>li>a.btn-black:hover, .open>.btn-black.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-black.dropdown-toggle {
    background-color: transparent;
    color: #393b3d;
    border-color: #393b3d
}

.btn-black:disabled, .btn-black[disabled], .navbar .navbar-nav>li>a.btn-black:disabled, .navbar .navbar-nav>li>a.btn-black[disabled] {
    background-color: transparent;
    border-color: #333
}

.btn-black.btn-fill, .navbar .navbar-nav>li>a.btn-black.btn-fill {
    color: #fff;
    background-color: #333;
    opacity: 1
}

.btn-black.btn-fill.active, .btn-black.btn-fill:active, .btn-black.btn-fill:focus, .btn-black.btn-fill:hover, .navbar .navbar-nav>li>a.btn-black.btn-fill.active, .navbar .navbar-nav>li>a.btn-black.btn-fill:active, .navbar .navbar-nav>li>a.btn-black.btn-fill:focus, .navbar .navbar-nav>li>a.btn-black.btn-fill:hover, .open>.btn-black.btn-fill.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-black.btn-fill.dropdown-toggle {
    background-color: #393b3d;
    color: #fff
}

.btn-white, .navbar .navbar-nav>li>a.btn-white {
    border-color: #fff;
    color: #fff;
    opacity: .9
}

.btn-white.active, .btn-white:active, .btn-white:focus, .btn-white:hover, .navbar .navbar-nav>li>a.btn-white.active, .navbar .navbar-nav>li>a.btn-white:active, .navbar .navbar-nav>li>a.btn-white:focus, .navbar .navbar-nav>li>a.btn-white:hover, .open>.btn-white.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-white.dropdown-toggle {
    background-color: transparent;
    color: #fff;
    border-color: #fff
}

.btn-white:disabled, .btn-white[disabled], .navbar .navbar-nav>li>a.btn-white:disabled, .navbar .navbar-nav>li>a.btn-white[disabled] {
    background-color: transparent;
    border-color: #fff
}

.btn-white.btn-fill, .navbar .navbar-nav>li>a.btn-white.btn-fill {
    color: #fff;
    background-color: #fff;
    opacity: 1
}

.btn-white.btn-fill.active, .btn-white.btn-fill:active, .btn-white.btn-fill:focus, .btn-white.btn-fill:hover, .navbar .navbar-nav>li>a.btn-white.btn-fill.active, .navbar .navbar-nav>li>a.btn-white.btn-fill:active, .navbar .navbar-nav>li>a.btn-white.btn-fill:focus, .navbar .navbar-nav>li>a.btn-white.btn-fill:hover, .open>.btn-white.btn-fill.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-white.btn-fill.dropdown-toggle {
    background-color: #fff;
    color: #fff
}

.btn-white.active, .btn-white:active, .navbar .navbar-nav>li>a.btn-white.active, .navbar .navbar-nav>li>a.btn-white:active, .open>.btn-white.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn-white.dropdown-toggle {
    background-color: #fff;
    color: #888
}

.btn-white.btn-fill, .navbar .navbar-nav>li>a.btn-white.btn-fill {
    color: #888;
    opacity: .9
}

.btn-white.btn-fill:focus, .btn-white.btn-fill:hover, .navbar .navbar-nav>li>a.btn-white.btn-fill:focus, .navbar .navbar-nav>li>a.btn-white.btn-fill:hover {
    color: #888;
    opacity: 1
}

.btn-white.btn-simple.active, .btn-white.btn-simple:active, .navbar .navbar-nav>li>a.btn-white.btn-simple.active, .navbar .navbar-nav>li>a.btn-white.btn-simple:active {
    background-color: transparent
}

.btn:disabled, .btn[disabled] {
    opacity: .5
}

.btn-simple {
    border: 0;
    font-size: 14px;
    padding: 10px 20px
}

.btn-simple.btn-icon {
    padding: 10px
}

.btn-lg {
    font-size: 14px;
    border-radius: 4px;
    padding: 16px 32px
}

.btn-lg.btn-simple {
    padding: 18px 32px
}

.btn-sm {
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 10px
}

.btn-sm.btn-simple {
    padding: 7px 10px
}

.section {
    padding: 50px 0;
    position: relative;
    background-color: #fff
}

.section-gray {
    background-color: #eee;
    padding: 70px 0
}

.section-white {
    background-color: #fff
}

.section {
    position: relative
}

.section .title-area {
    max-width: 760px;
    margin: 0 auto 70px;
    display: block;
    padding: 0 15px;
    text-align: center
}

.section .title-area .description {
    font-size: 16px;
    color: #777
}

.section [class*=col-] .title-area {
    padding: 0
}

.section .text-area {
    padding: 4.375em 0;
    position: relative;
    z-index: 3;
    display: block
}

.section .text-area .description, .section .text-area .description p {
    font-size: 16px;
    color: #777
}

.section .parallax {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    position: relative
}

.section .parallax .filter>img, .section .parallax>img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1
}

.section .parallax-small {
    height: 65vh
}

.section .nav>li {
    display: inline-block
}

.section-our-team .text-area {
    padding-bottom: 0
}

.filter {
    position: relative;
    height: 100%;
    color: #fff
}

.filter:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    content: "";
    opacity: .7;
    background: #333
}

.filter .title-area .description {
    color: #fff
}

.filter .separator {
    color: #fff
}

.filter .separator:after, .filter .separator:before {
    border-color: #fff
}

.filter.filter-color-black:before {
    background: #333
}

.filter.filter-color-green:before {
    background: #55bea4
}

.filter.filter-color-red:before {
    background: #de6168
}

.section-white {
    padding: 0
}

.section-get-started .parallax .image, .section-small .parallax .image {
    height: 100vh !important
}

.section-info {
    padding-top: 100px
}

.section-we-do h3 {
    margin: 10px 0 20px
}

.section-we-do h5 {
    margin-bottom: 0
}

.section-we-do p {
    color: #777
}

.section-we-do .title {
    margin-bottom: 70px
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent
}

.navbar {
    border: 0;
    font-size: 16px
}

.navbar .navbar-brand {
    margin: 10px 0;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 22px
}

.navbar .navbar-nav>li>a {
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 18px
}

.navbar .navbar-nav.navbar-uppercase>li>a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 600
}

.navbar .navbar-nav>li>a.btn {
    margin: 15px 3px;
    padding: 10px 20px
}

.navbar .navbar-nav>li>a [class^=fa] {
    font-size: 18px;
    position: relative;
    top: 1px;
    margin-top: -3px
}

.navbar .btn {
    margin: 15px 3px;
    font-size: 14px
}

.navbar .btn-simple {
    font-size: 16px
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.navbar-default .navbar-nav>li>a:not(.btn) {
    color: #434547
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:not(.btn):focus, .navbar-default .navbar-nav>.active>a:not(.btn):hover, .navbar-default .navbar-nav>li>a:not(.btn):focus, .navbar-default .navbar-nav>li>a:not(.btn):hover {
    background-color: transparent;
    border-radius: 3px;
    color: #434547;
    opacity: .85
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #c5a47e
}

.navbar-default .navbar-nav .navbar-toggle:focus, .navbar-default .navbar-nav .navbar-toggle:hover {
    background-color: transparent
}

.navbar-default .navbar-brand {
    color: #434547
}

.navbar-default:not(.navbar-transparent) .btn-default:hover {
    color: #c5a47e;
    border-color: #c5a47e
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent
}

.navbar-transparent {
    padding-top: 15px;
    background-color: transparent;
    border-bottom: 1px solid transparent
}

.navbar-toggle {
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0
}

.navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-toggle .navbar-collapse {
    border-color: transparent
}

.navbar-toggle.navbar-default .navbar-toggle:focus, .navbar-toggle.navbar-default .navbar-toggle:hover {
    background-color: transparent
}

.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar.navbar-fixed-top {
    transition: all .5s .1s
}

@media (min-width: 768px) {
    .navbar-transparent .navbar-brand, [class*=navbar-ct] .navbar-brand {
        color: #fff;
        opacity: 1
    }

    .navbar-transparent .navbar-brand:focus, .navbar-transparent .navbar-brand:hover, [class*=navbar-ct] .navbar-brand:focus, [class*=navbar-ct] .navbar-brand:hover {
        background-color: transparent;
        opacity: 1;
        color: #fff
    }

    .navbar-transparent .navbar-nav>li>a:not(.btn), [class*=navbar-ct] .navbar-nav>li>a:not(.btn) {
        color: #fff;
        border-color: #fff;
        opacity: .85
    }

    .navbar-transparent .navbar-nav>.active>a:focus:not(.btn), .navbar-transparent .navbar-nav>.active>a:hover:not(.btn), .navbar-transparent .navbar-nav>.active>a:not(.btn), .navbar-transparent .navbar-nav>li>a:focus:not(.btn), .navbar-transparent .navbar-nav>li>a:hover:not(.btn), [class*=navbar-ct] .navbar-nav>.active>a:focus:not(.btn), [class*=navbar-ct] .navbar-nav>.active>a:hover:not(.btn), [class*=navbar-ct] .navbar-nav>.active>a:not(.btn), [class*=navbar-ct] .navbar-nav>li>a:focus:not(.btn), [class*=navbar-ct] .navbar-nav>li>a:hover:not(.btn) {
        background-color: transparent;
        border-radius: 3px;
        color: #fff;
        opacity: 1
    }

    .navbar-transparent .navbar-nav .nav>li>a.btn:hover, [class*=navbar-ct] .navbar-nav .nav>li>a.btn:hover {
        background-color: transparent
    }

    .navbar-transparent .navbar-nav>.open>a, .navbar-transparent .navbar-nav>.open>a:focus, .navbar-transparent .navbar-nav>.open>a:hover, [class*=navbar-ct] .navbar-nav>.open>a, [class*=navbar-ct] .navbar-nav>.open>a:focus, [class*=navbar-ct] .navbar-nav>.open>a:hover {
        background-color: transparent;
        color: #fff;
        opacity: 1
    }

    .navbar-transparent .btn-default, [class*=navbar-ct] .btn-default {
        color: #fff;
        border-color: #fff
    }

    .navbar-transparent .btn-default.btn-fill, [class*=navbar-ct] .btn-default.btn-fill {
        color: #777;
        background-color: #fff;
        opacity: 1
    }

    .navbar-transparent .btn-default.btn-fill.active, .navbar-transparent .btn-default.btn-fill:active, .navbar-transparent .btn-default.btn-fill:focus, .navbar-transparent .btn-default.btn-fill:hover, .navbar-transparent .open .dropdown-toggle.btn-fill.btn-default, [class*=navbar-ct] .btn-default.btn-fill.active, [class*=navbar-ct] .btn-default.btn-fill:active, [class*=navbar-ct] .btn-default.btn-fill:focus, [class*=navbar-ct] .btn-default.btn-fill:hover, [class*=navbar-ct] .open .dropdown-toggle.btn-fill.btn-default {
        border-color: #fff;
        opacity: 1
    }
}

.footer {
    background-color: #fff;
    line-height: 20px;
    overflow: hidden
}

.footer nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400
}

.footer nav>ul a:not(.btn) {
    color: #777;
    display: block;
    margin-bottom: 3px
}

.footer nav>ul a:not(.btn):focus, .footer nav>ul a:not(.btn):hover {
    color: #777
}

.footer .social-area {
    padding: 15px 0
}

.footer .social-area h5 {
    padding-bottom: 15px
}

.footer .social-area>a:not(.btn) {
    color: #777;
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center
}

.footer .social-area>a:not(.btn):focus, .footer .social-area>a:not(.btn):hover {
    color: #777
}

.footer .copyright {
    color: #777;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center
}

.footer hr {
    border-color: #ddd
}

.footer .title {
    color: #777
}

.footer .title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700
}

.footer .btn-social {
    color: #9a9a9a
}

.footer:not(.footer-big) nav>ul {
    font-size: 16px
}

.footer:not(.footer-big) nav>ul li {
    margin-left: 20px;
    float: left
}

.footer:not(.footer-big) nav>ul a {
    padding: 10px 0;
    margin: 15px 10px 15px 0
}

.footer-color-gray {
    background-color: #f5f5f5
}

.footer-color-black, .footer-transparent {
    background-color: rgba(30, 30, 30, .97);
    color: #ddd
}

.footer-color-black nav>ul a, .footer-transparent nav>ul a {
    color: #fff
}

.footer-color-black nav>ul a:focus, .footer-color-black nav>ul a:hover, .footer-transparent nav>ul a:focus, .footer-transparent nav>ul a:hover {
    color: #777
}

.footer-color-black .social-area>a:not(.btn), .footer-transparent .social-area>a:not(.btn) {
    color: #fff
}

.footer-color-black .social-area>a:not(.btn):focus, .footer-color-black .social-area>a:not(.btn):hover, .footer-transparent .social-area>a:not(.btn):focus, .footer-transparent .social-area>a:not(.btn):hover {
    color: #777
}

.footer-color-black .btn-social, .footer-transparent .btn-social {
    color: #fff
}

.footer-color-black hr, .footer-transparent hr {
    border-color: #444
}

.footer-color-black .title, .footer-transparent .title {
    color: #ddd
}

.footer-transparent {
    background-attachment: fixed;
    background-size: cover;
    position: relative
}

.footer-transparent .container {
    z-index: 2;
    position: relative
}

.footer-transparent::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(17, 17, 17, .8);
    display: block;
    content: "";
    z-index: 1
}

.footer-big {
    padding-top: 30px
}

.footer-big hr {
    margin-bottom: 10px;
    margin-top: 10px
}

.footer-big .container>hr {
    margin-top: 50px
}

.footer-big .copyright {
    margin: 10px 0 20px
}

.footer-big .social-area>* {
    margin: 0 15px
}

.footer-big nav>ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400
}

.footer-big nav>ul li {
    float: none
}

.footer-big nav>ul .btn {
    margin-bottom: 5px
}

.footer-big nav>ul .btn-social.btn-simple {
    padding: 0 0 4px 0
}

.social-line {
    padding: 16px 0;
    background-color: #fff
}

.social-line .title {
    margin: 0;
    line-height: 40px;
    font-size: 22px
}

.social-line .btn {
    width: 100%
}

.social-line-black {
    background-color: rgba(30, 30, 30, .97);
    color: #fff
}

.btn-social {
    opacity: .85;
    padding: 8px 9px
}

.btn-social .fa {
    font-size: 18px;
    top: -1px;
    vertical-align: middle;
    display: inline-block;
    position: relative
}

.btn-social.btn-simple {
    padding: 9px 5px;
    font-size: 14px
}

.btn-social.btn-simple .fa {
    font-size: 20px;
    position: relative;
    top: -2px;
    width: 24px
}

.dropdown-menu {
    visibility: hidden;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    display: block;
    z-index: 9000;
    position: absolute;
    opacity: 0;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .125);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .125);
    -webkit-transform: translate3d(0, -20px, 0);
    -moz-transform: translate3d(0, -20px, 0);
    -o-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    -webkit-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    -moz-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    -o-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    -ms-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    transition: all 370ms cubic-bezier(.34, 1.61, .7, 1)
}

.open .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.navbar-nav>li>.dropdown-menu {
    border-radius: 4px;
    margin-top: -5px
}

.navbar-nav>li>.dropdown-menu:before {
    border-bottom: 11px solid rgba(0, 0, 0, .2);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 12px;
    top: -11px
}

.navbar-nav>li>.dropdown-menu:after {
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 12px;
    top: -10px
}

.navbar-nav.navbar-right>li>.dropdown-menu:before {
    left: auto;
    right: 12px
}

.navbar-nav.navbar-right>li>.dropdown-menu:after {
    left: auto;
    right: 12px
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    margin: 0 0;
    color: #434547;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    padding: 20px 20px;
    border-bottom: 1px solid #eee
}

.dropdown-menu>li>a img {
    margin-top: -3px
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #fff;
    color: #c5a47e;
    opacity: 1;
    text-decoration: none
}

.dropdown-menu>li:last-child>a {
    border-bottom: 0
}

.dropdown-menu>li>a:focus {
    outline: 0 !important
}

.dropdown-menu>li:first-child>a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.dropdown-menu>li:last-child>a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.dropdown-menu.dropdown-info>li>a:focus, .dropdown-menu.dropdown-info>li>a:hover {
    color: #00abc0
}

.dropdown-menu.dropdown-danger>li>a:focus, .dropdown-menu.dropdown-danger>li>a:hover {
    color: #e78b90
}

.dropdown-menu.dropdown-black>li>a:focus, .dropdown-menu.dropdown-black>li>a:hover {
    color: #333
}

.dropdown-with-icons>li>a {
    padding-left: 0;
    line-height: 28px
}

.dropdown-with-icons i {
    text-align: center;
    line-height: 28px;
    float: left
}

.dropdown-with-icons i[class^=pe-] {
    font-size: 24px;
    width: 46px
}

.dropdown-with-icons i[class^=fa] {
    font-size: 14px;
    width: 38px
}

.card {
    background: #fff;
    box-shadow: 0 32px 44px -24px rgba(0, 0, 0, .23), 0 20px 25px 0 rgba(0, 0, 0, .12), 0 15px 10px -10px rgba(0, 0, 0, .2);
    border-radius: 6px;
    margin-bottom: 30px;
    -webkit-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    -moz-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    -o-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    -ms-transition: all 370ms cubic-bezier(.34, 1.61, .7, 1);
    transition: all 370ms cubic-bezier(.34, 1.61, .7, 1)
}

.card:not(.card-plain):not(.card-price):hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 26px 50px -10px rgba(0, 0, 0, .38), 0 10px 20px 0 rgba(0, 0, 0, .2), 0 15px 10px -10px rgba(0, 0, 0, .2)
}

.card .subtitle-black {
    color: #141414
}

.card a {
    opacity: .85
}

.card:hover .header {
    opacity: 1
}

.card h2 {
    margin-top: 0
}

.card img {
    max-width: 100%
}

.card .header img {
    border-radius: 4px
}

.card .header img, .card .image-header {
    width: 100%;
    border-radius: 4px 4px 0 0
}

.card .row .header img, .card .row .image-header {
    width: 100%;
    border-radius: 4px
}

.card .btn {
    margin-top: 15px
}

.card>img {
    border-radius: 4px
}

.card .title {
    margin-bottom: 5px;
    color: #333
}

.card .description {
    font-size: 13px
}

.card-member {
    display: block;
    text-align: center;
    margin-bottom: 20px
}

.card-member .content {
    padding: 25px
}

.card-member>img {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    width: 120px;
    margin: 0 auto
}

.card-white {
    background: #fff
}

.section-header {
    padding: 0
}

.section-header .container {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0
}

.section-header .content {
    position: relative;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    vertical-align: center;
    line-height: 1.7;
    position: relative;
    top: 44%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.section-header .btn {
    text-shadow: none
}

.section-header h1 {
    font-weight: 400;
    font-size: 3.6em;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, .3), -2px 4px 2px rgba(0, 0, 0, .1)
}

.section-header h5 {
    font-size: 1.3em;
    margin: 0 auto .5em;
    line-height: 1.5;
    letter-spacing: .125;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.section-header p {
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 1em 0 .5em
}

.section-header p span {
    text-transform: lowercase
}

.section-header .separator {
    color: #fff;
    margin: 30px auto
}

.section-header .separator.line-separator:after, .section-header .separator.line-separator:before {
    border-color: #fff
}

.description {
    margin-bottom: 20px
}

.big-text {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0
}

.small-text {
    color: #777;
    text-align: center
}

.section-contact-1 h4, .section-contact-2 h4, .section-contact-3 h4 {
    margin-bottom: 5px
}

.section-contact-3 {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 0
}

.section-contact-3 .contact-container {
    position: relative
}

@media (min-width: 768px) {
    .section-contact-3 {
        min-height: 570px
    }
}

.section .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: block
}

.section-get-started, .section-header-freebie, .section-our-team-freebie {
    padding-bottom: 0
}

.section-get-started .container, .section-header-freebie .container, .section-our-team-freebie .container {
    position: relative;
    z-index: 100;
    display: block;
    margin-top: 30vh;
    text-align: center
}

.section-get-started .title-header, .section-header-freebie .title-header, .section-our-team-freebie .title-header {
    text-transform: none
}

.section-get-started .button-contact, .section-header-freebie .button-contact, .section-our-team-freebie .button-contact {
    padding: 25px 0 17px
}

.section-get-started .text-description, .section-header-freebie .text-description, .section-our-team-freebie .text-description {
    color: #fff;
    margin: 40px auto;
    max-width: 760px
}

.section-get-started .text-white, .section-header-freebie .text-white, .section-our-team-freebie .text-white {
    color: #fff
}

.section-get-started .parallax, .section-header-freebie .parallax, .section-our-team-freebie .parallax {
    height: auto
}

.section-get-started .image, .section-header-freebie .image, .section-our-team-freebie .image {
    height: 100%
}

.section-get-started {
    padding: 0
}

.section-get-started .container {
    margin: 15vh auto
}

.section-contact-4 .parallax, .section-our-services .parallax {
    height: 450px
}

.member .description {
    min-height: 100px
}

.section-our-clients .nav-text, .section-our-clients-freebie .nav-text {
    margin: 30px auto;
    text-align: center
}

.section-our-clients .nav-text li, .section-our-clients-freebie .nav-text li {
    margin: 0 10px 10px 0
}

.section-our-clients .nav-text li a img {
    width: 120px
}

.section-our-clients .tab-content, .section-our-clients-freebie .tab-content {
    text-align: center;
    max-width: 760px;
    min-height: 130px;
    margin: 0 auto
}

.section-contact-4 {
    padding: 0
}

.section-header-freebie {
    padding: 0
}

.section-our-team-freebie .container {
    margin-top: 14vh;
    margin-bottom: 50px
}

.card p {
    min-height: 0
}

.section-our-clients-freebie .nav-text>li.active a {
    border-bottom: 0;
    opacity: 1
}

.section-our-clients-freebie .nav-text>li.active a .image-clients img {
    opacity: 1;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.image-clients {
    width: 90px;
    margin: 0 auto;
    margin-right: 8px;
    margin-left: 8px
}

.image-clients img {
    width: 100%
}

.share-area {
    margin-top: 80px
}

@media (min-width: 768px) {
    .section-header .separator {
        max-width: 20em
    }
}

@media (min-width: 992px) {
    .section-we-made-1 .row {
        margin: 0
    }

    .section-we-made-1 .row [class^=col-] {
        padding-right: 0;
        padding-left: 0
    }

    .section-we-made-2 .scroll-area {
        width: 70%;
        height: 100%;
        position: relative;
        margin: 0 auto
    }

    .section-we-made-2 .projects {
        width: 100%;
        display: block;
        margin: 0;
        overflow: hidden
    }

    .section-we-made-2 .projects .row {
        width: 2500px;
        margin: 0;
        position: relative
    }
}

@media (max-width: 992px) {
    .section-header {
        padding: 0 !important
    }

    .section-header .parallax {
        height: 80vh
    }

    .section-header .parallax:after {
        height: 80vh
    }

    .section-header .content {
        top: 50%
    }

    .section-header .content h1, .section-header .content h5, .section-header .content p {
        margin: 0
    }

    .section-header .content h1 {
        font-size: 4.5em;
        letter-spacing: .07em;
        line-height: 1.7
    }

    .section-header .content h1 span {
        font-size: 1em
    }

    .section-header .content h5 {
        font-size: 1.125em;
        margin-top: 50px
    }

    .section-header .content .separator {
        width: 12em
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        line-height: 1.25
    }

    h2 {
        font-size: 1.625em;
        line-height: 1.15384615
    }

    h3 {
        font-size: 1.375em;
        line-height: 1.13636364
    }

    h4 {
        line-height: 1.11111111
    }

    .navbar-transparent {
        background-color: transparent
    }

    .section-we-made-1 p {
        display: none
    }

    .section-clients-2 .tab-content {
        min-height: 130px
    }

    .section-team-3 .name {
        margin-top: -10px
    }

    .btn {
        margin: 0 auto 15px;
        float: none
    }

    footer {
        padding-top: 15px
    }

    footer .row .info {
        margin-top: 15px
    }

    footer .row .info .title {
        text-align: center !important;
        margin-top: 25px
    }

    footer .row .info ul {
        text-align: center
    }

    footer .row div:first-child .title {
        margin-top: 0
    }

    .navbar-transparent .navbar-brand {
        color: #fff
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 300px;
    content: "";
    z-index: 1029;
    overflow-x: hidden
}

body {
    position: relative
}

.navbar-header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    -moz-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    -o-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    -ms-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    transition: all .5s cubic-bezier(.685, .0473, .346, 1);
    position: relative
}

.nav-open .navbar .navbar-header {
    -webkit-transform: translate3d(-200px, 0, 0);
    -moz-transform: translate3d(-200px, 0, 0);
    -o-transform: translate3d(-200px, 0, 0);
    -ms-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0)
}

@media (min-width: 768px) {
    .footer:not(.footer-big) nav>ul li:first-child {
        margin-left: 0
    }

    .nav-open .navbar-collapse {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .navbar-burger .container {
        padding: 0 15px
    }

    .navbar-burger .navbar-header {
        width: 100%
    }

    .navbar-burger .navbar-toggle {
        display: block;
        margin-right: 0
    }

    body>.navbar-collapse .navbar-nav, body>.navbar-collapse .navbar-nav>li {
        float: none
    }

    body>.navbar-collapse .navbar-nav>li {
        float: none
    }
}

@media (max-width: 767px) {
    .navbar-transparent {
        padding-top: 0;
        background-color: rgba(0, 0, 0, .45)
    }

    #bodyClick {
        right: 230px
    }

    .navbar-collapse {
        position: fixed;
        display: block;
        top: 0;
        height: 100vh;
        width: 230px;
        right: 0;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        border-left: 1px solid #e3e3e3;
        padding-right: 15px;
        padding-left: 15px;
        max-height: none !important;
        -webkit-transform: translate3d(230px, 0, 0);
        -moz-transform: translate3d(230px, 0, 0);
        -o-transform: translate3d(230px, 0, 0);
        -ms-transform: translate3d(230px, 0, 0);
        transform: translate3d(230px, 0, 0);
        -webkit-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
        -moz-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
        -o-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
        -ms-transition: all .5s cubic-bezier(.685, .0473, .346, 1);
        transition: all .5s cubic-bezier(.685, .0473, .346, 1)
    }

    .navbar-collapse ul {
        position: relative;
        z-index: 3;
        overflow-y: auto;
        height: 100%
    }

    .navbar-collapse .nav>li {
        border-bottom: 1px solid #e5e5e5;
        padding-right: 15px
    }

    .navbar-collapse .nav>li:last-child {
        border-bottom: 0
    }

    .navbar-collapse .nav>li>a {
        margin: 0 0;
        color: #434547;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        padding: 24px 0
    }

    .navbar-collapse .nav>li>a.active, .navbar-collapse .nav>li>a:hover {
        color: #c5a47e
    }

    .navbar-collapse::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        display: block;
        content: "";
        z-index: 1
    }

    .navbar .container {
        left: 0
    }

    .nav-open .navbar-collapse {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .navbar-nav {
        margin: 0
    }

    .navbar-nav .dropdown .dropdown-menu>li>a {
        padding: 10px 15px 10px
    }

    .navbar-nav .dropdown .dropdown-menu>li:first-child>a {
        padding-top: 0
    }

    .navbar-nav .dropdown .dropdown-menu>li:last-child>a {
        padding-bottom: 20px
    }

    [class*=navbar-] .navbar-nav .navbar-nav .open .dropdown-menu>li>a:active, [class*=navbar-] .navbar-nav>li>a, [class*=navbar-] .navbar-nav>li>a:focus, [class*=navbar-] .navbar-nav>li>a:hover {
        color: #fff
    }

    [class*=navbar-] .navbar-nav .active>a, [class*=navbar-] .navbar-nav .dropdown .dropdown-menu>li>a {
        color: #434547
    }

    [class*=navbar-] .navbar-nav .open .dropdown-menu>li>a, [class*=navbar-] .navbar-nav>li>a {
        opacity: .7;
        background: 0 0
    }

    [class*=navbar-] .navbar-nav .open .dropdown-menu>li>a:focus, [class*=navbar-] .navbar-nav .open .dropdown-menu>li>a:hover, [class*=navbar-] .navbar-nav>li>a:focus, [class*=navbar-] .navbar-nav>li>a:hover {
        opacity: 1
    }

    [class*=navbar-] .navbar-nav.navbar-nav .open .dropdown-menu>li>a:active {
        opacity: 1
    }

    .dropdown-menu {
        display: none
    }

    .navbar-fixed-top {
        -webkit-backface-visibility: hidden
    }

    .social-line .btn {
        margin: 0 0 10px 0
    }

    .footer:not(.footer-big) nav>ul li {
        float: none
    }

    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: transparent !important
    }

    .btn.dropdown-toggle {
        margin-bottom: 0
    }

    .nav-open .navbar .navbar-header {
        -webkit-transform: translate3d(-280px, 0, 0);
        -moz-transform: translate3d(-280px, 0, 0);
        -o-transform: translate3d(-280px, 0, 0);
        -ms-transform: translate3d(-280px, 0, 0);
        transform: translate3d(-280px, 0, 0)
    }
}

@media (max-width: 930px) {
    .section.section-our-team .title-description, .section.section-we-do .title-description {
        max-width: 550px;
        margin: 0 auto
    }

    .section.section-we-do .text-description {
        max-width: 420px;
        margin: 0 auto
    }
}

@media (min-width: 768px) {
    .section-contact-us {
        min-height: 570px
    }
}

@media (max-width: 992px) {
    .section.section-we-are .description {
        max-width: 560px;
        text-align: center;
        margin: 0 auto
    }

    .section.section-info {
        height: auto
    }
}
